[Unit]
Description=DOMJudge Judging Daemon Management Group

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/spawn_judgedaemons

[Install]
WantedBy=multi-user.target
